@charset "UTF-8";
section {
  background-color: #ffffff;
}

body, div.floating-wpp {
  font-style: normal;
  line-height: 1.6;
  font-weight: 400;
  color: #232323;
  position: relative;
}
b {
    color: #f9a600 !important;
}
button {
  background-color: transparent;
  border-color: transparent;
}

.embla__button,
.carousel-control {
  background-color: #edefea !important;
  opacity: 0.8 !important;
  color: #464845 !important;
  border-color: #edefea !important;
}

.carousel .close,
.modalWindow .close {
  background-color: #edefea !important;
  color: #464845 !important;
  border-color: #edefea !important;
  opacity: 0.8 !important;
}

.carousel .close:hover,
.modalWindow .close:hover {
  opacity: 1 !important;
}

.carousel-indicators li {
  background-color: #edefea !important;
  border: 2px solid #464845 !important;
}

.carousel-indicators li:hover,
.carousel-indicators li:active {
  opacity: 0.8 !important;
}

.embla__button:hover,
.carousel-control:hover {
  background-color: #edefea !important;
  opacity: 1 !important;
}

.modalWindow-video-container {
  height: 80%;
}

section,
.container,
.container-fluid {
  position: relative;
  word-wrap: break-word;
}

a.mbr-iconfont:hover {
  text-decoration: none;
}

.article .lead p,
.article .lead ul,
.article .lead ol,
.article .lead pre,
.article .lead blockquote {
  margin-bottom: 0;
}

a {
  font-style: normal;
  font-weight: 400;
  cursor: pointer;
}
a, a:hover {
  text-decoration: none;
}

.mbr-section-title {
  font-style: normal;
  line-height: 1.3;
}

.mbr-section-subtitle {
  line-height: 1.3;
}

.mbr-text {
  font-style: normal;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-1,
.display-2,
.display-4,
.display-5,
.display-7,
span,
p,
a {
  line-height: 1;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
}

b,
strong {
  font-weight: bold;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
  transition-delay: 9999s;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}

textarea[type=hidden] {
  display: none;
}

section {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
section .mbr-background-video,
section .mbr-background-video-preview {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

.hidden {
  visibility: hidden;
}

.mbr-z-index20 {
  z-index: 20;
}

/*! Base colors */
.mbr-white {
  color: #ffffff;
}

.mbr-black {
  color: #111111;
}

.mbr-bg-white {
  background-color: #ffffff;
}

.mbr-bg-black {
  background-color: #000000;
}

/*! Text-aligns */
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

/*! Font-weight  */
.mbr-light {
  font-weight: 300;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}

/*! Media  */
.media-content {
  flex-basis: 100%;
}

.media-container-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: start;
}
.media-container-row .media-size-item {
  width: 400px;
}

.media-container-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: stretch;
}
.media-container-column > * {
  width: 100%;
}

@media (min-width: 992px) {
  .media-container-row {
    flex-wrap: nowrap;
  }
}
figure {
  margin-bottom: 0;
  overflow: hidden;
}

figure[mbr-media-size] {
  transition: width 0.1s;
}

img,
iframe {
  display: block;
  width: 100%;
}

.card {
  background-color: transparent;
  border: none;
}

.card-box {
  width: 100%;
}

.card-img {
  text-align: center;
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.media {
  max-width: 100%;
  margin: 0 auto;
}

.mbr-figure {
  align-self: center;
}

.media-container > div {
  max-width: 100%;
}

.mbr-figure img,
.card-img img {
  width: 100%;
}

@media (max-width: 991px) {
  .media-size-item {
    width: auto !important;
  }
  .media {
    width: auto;
  }
  .mbr-figure {
    width: 100% !important;
  }
}
/*! Buttons */
.mbr-section-btn {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
  font-size: 0;
}

.btn {
  font-weight: 600;
  border-width: 1px;
  font-style: normal;
  margin: 0.6rem 0.6rem;
  white-space: normal;
  transition: all 0.2s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}

.btn-sm {
  font-weight: 600;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}

.btn-md {
  font-weight: 600;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}

.btn-lg {
  font-weight: 600;
  letter-spacing: 0px;
  transition: all 0.3s ease-in-out;
}

.btn-form {
  margin: 0;
}
.btn-form:hover {
  cursor: pointer;
}

nav .mbr-section-btn {
  margin-left: 0rem;
  margin-right: 0rem;
}

/*! Btn icon margin */
.btn .mbr-iconfont,
.btn.btn-sm .mbr-iconfont {
  order: 1;
  cursor: pointer;
  margin-left: 0.5rem;
  vertical-align: sub;
}

.btn.btn-md .mbr-iconfont,
.btn.btn-md .mbr-iconfont {
  margin-left: 0.8rem;
}

.mbr-regular {
  font-weight: 400;
}

.mbr-semibold {
  font-weight: 500;
}

.mbr-bold {
  font-weight: 700;
}

[type=submit] {
  -webkit-appearance: none;
}

/*! Full-screen */
.mbr-fullscreen .mbr-overlay {
  min-height: 100vh;
}

.mbr-fullscreen {
  display: flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/*! Map */
.map {
  height: 25rem;
  position: relative;
}
.map iframe {
  width: 100%;
  height: 100%;
}

/*! Scroll to top arrow */
.mbr-arrow-up {
  bottom: 25px;
  right: 90px;
  position: fixed;
  text-align: right;
  z-index: 5000;
  color: #ffffff;
  font-size: 22px;
}

.mbr-arrow-up a {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 2px solid #fff;
  outline-style: none !important;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-align: center;
}
.mbr-arrow-up a:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
.mbr-arrow-up a i {
  line-height: 60px;
}

.mbr-arrow-up-icon {
  display: block;
  color: #fff;
}

.mbr-arrow-up-icon::before {
  content: "›";
  display: inline-block;
  font-family: serif;
  font-size: 22px;
  line-height: 1;
  font-style: normal;
  position: relative;
  top: 6px;
  left: -4px;
  transform: rotate(-90deg);
}

/*! Arrow Down */
.mbr-arrow {
  position: absolute;
  bottom: 45px;
  left: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  background-color: rgba(80, 80, 80, 0.5);
  border-radius: 50%;
  transform: translateX(-50%);
}
@media (max-width: 767px) {
  .mbr-arrow {
    display: none;
  }
}
.mbr-arrow > a {
  display: inline-block;
  text-decoration: none;
  outline-style: none;
  animation: arrowdown 1.7s ease-in-out infinite;
  color: #ffffff;
}
.mbr-arrow > a > i {
  position: absolute;
  top: -2px;
  left: 15px;
  font-size: 2rem;
}

#scrollToTop a i::before {
  content: "";
  position: absolute;
  display: block;
  border-bottom: 2.5px solid #fff;
  border-left: 2.5px solid #fff;
  width: 27.8%;
  height: 27.8%;
  left: 50%;
  top: 51%;
  transform: translateY(-30%) translateX(-50%) rotate(135deg);
}

@keyframes arrowdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
@media (max-width: 500px) {
  .mbr-arrow-up {
    left: 0;
    right: 0;
    text-align: center;
  }
}
/*Gradients animation*/
@keyframes gradient-animation {
  from {
    background-position: 0% 100%;
    animation-timing-function: ease-in-out;
  }
  to {
    background-position: 100% 0%;
    animation-timing-function: ease-in-out;
  }
}
.bg-gradient {
  background-size: 200% 200%;
  animation: gradient-animation 5s infinite alternate;
  -webkit-animation: gradient-animation 5s infinite alternate;
}

.menu .navbar-brand {
  display: -webkit-flex;
}
.menu .navbar-brand span {
  display: flex;
  display: -webkit-flex;
}
.menu .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
}
.menu .navbar-brand .navbar-logo img {
  display: -webkit-flex;
  width: auto;
}
@media (min-width: 768px) and (max-width: 991px) {
  .menu .navbar-toggleable-sm .navbar-nav {
    display: -ms-flexbox;
  }
}
@media (max-width: 991px) {
  .menu .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .navbar-collapse.show {
    overflow: auto;
  }
}
@media (min-width: 992px) {
  .menu .navbar-nav.nav-dropdown {
    display: -webkit-flex;
  }
  .menu .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-flex !important;
  }
  .menu .collapsed .navbar-collapse {
    max-height: 93.5vh;
  }
  .menu .collapsed .navbar-collapse.show {
    overflow: auto;
  }
}
@media (max-width: 767px) {
  .menu .navbar-collapse {
    max-height: 80vh;
  }
}

.nav-link .mbr-iconfont {
  margin-right: 0.5rem;
}

.navbar {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  -webkit-align-items: center;
  -webkit-justify-content: space-between;
}

.navbar-collapse {
  -webkit-flex-basis: 100%;
  -webkit-flex-grow: 1;
  -webkit-align-items: center;
}

.nav-dropdown .link {
  padding: 0.667em 1.667em !important;
  margin: 0 !important;
}

.nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.row {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
}

.justify-content-center {
  -webkit-justify-content: center;
}

.form-inline {
  display: -webkit-flex;
}

.card-wrapper {
  -webkit-flex: 1;
}

.carousel-control {
  z-index: 10;
  display: -webkit-flex;
}

.carousel-controls {
  display: -webkit-flex;
}

.media {
  display: -webkit-flex;
}

.form-group:focus {
  outline: none;
}

.jq-selectbox__select {
  padding: 7px 0;
  position: relative;
}

.jq-selectbox__dropdown {
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  top: 100%;
  left: 0 !important;
  width: 100% !important;
}

.jq-selectbox__trigger-arrow {
  right: 0;
  transform: translateY(-50%);
}

.jq-selectbox li {
  padding: 1.07em 0.5em;
}

input[type=range] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.modal-dialog,
.modal-content {
  height: 100%;
}

.modal-dialog .carousel-inner {
  height: calc(100vh - 1.75rem);
}
@media (max-width: 575px) {
  .modal-dialog .carousel-inner {
    height: calc(100vh - 1rem);
  }
}

.carousel-item {
  text-align: center;
}

.carousel-item img {
  margin: auto;
}

.navbar-toggler {
  align-self: flex-start;
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:focus,
.navbar-toggler:hover {
  text-decoration: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler-left {
  position: absolute;
  left: 1rem;
}

.navbar-toggler-right {
  position: absolute;
  right: 1rem;
}

.card-img {
  width: auto;
}

.menu .navbar.collapsed:not(.beta-menu) {
  flex-direction: column;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: flex;
}

.note-air-layout .dropup .dropdown-menu,
.note-air-layout .navbar-fixed-bottom .dropdown .dropdown-menu {
  bottom: initial !important;
}

html,
body {
  height: auto;
  min-height: 100vh;
}

.dropup .dropdown-toggle::after {
  display: none;
}

.form-asterisk {
  font-family: initial;
  position: absolute;
  top: -2px;
  font-weight: normal;
}

.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0.357em;
  padding: 0;
}

.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
  text-align: center;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}

.form-control {
  background-color: #ffffff;
  background-clip: border-box;
  color: #232323;
  line-height: 1rem !important;
  height: auto;
  padding: 1.2rem 2rem;
  transition: border-color 0.25s ease 0s;
  border: 1px solid transparent !important;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
}
.form-active .form-control:invalid {
  border-color: red;
}

.row > * {
  padding-right: 1rem;
  padding-left: 1rem;
}

form .row {
  margin-left: -0.6rem;
  margin-right: -0.6rem;
}
form .row [class*=col] {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

form .mbr-section-btn {
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}

form .form-check-input {
  margin-top: 0.5;
}

textarea.form-control {
  line-height: 1.5rem !important;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-control,
form .btn {
  min-height: 48px;
}

.gdpr-block label span.textGDPR input[name=gdpr] {
  top: 7px;
}

.form-control:focus {
  box-shadow: none;
}

:focus {
  outline: none;
}

.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}

blockquote {
  font-style: italic;
  padding: 3rem;
  font-size: 1.09rem;
  position: relative;
  border-left: 3px solid;
}

ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}

.mt-4 {
  margin-top: 2rem !important;
}

.mb-4 {
  margin-bottom: 2rem !important;
}

.container,
.container-fluid {
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  margin-left: -16px;
  margin-right: -16px;
}
.row > [class*=col] {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 992px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 991px) {
  .mbr-container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.app-video-wrapper > img {
  opacity: 1;
}

.app-video-wrapper {
  background: transparent;
}

.item {
  position: relative;
}

.dropdown-menu .dropdown-menu {
  left: 100%;
}

.dropdown-item + .dropdown-menu {
  display: none;
}

.dropdown-item:hover + .dropdown-menu,
.dropdown-menu:hover {
  display: block;
}

@media (min-aspect-ratio: 16/9) {
  .mbr-video-foreground {
    height: 300% !important;
    top: -100% !important;
  }
}
@media (max-aspect-ratio: 16/9) {
  .mbr-video-foreground {
    width: 300% !important;
    left: -100% !important;
  }
}
.ax-countdown {
  color: black !important;
}.btn {
  border-width: 2px;
}
img,
.card-wrap,
.card-wrapper,
.video-wrapper,
.mbr-figure iframe,
.google-map iframe,
.slide-content,
.plan,
.card,
.item-wrapper {
  border-radius: 2rem !important;
}
.video-wrapper {
  overflow: hidden;
}
body {
  background-color: #fffbe6;
}
body {
  font-family: Inter Tight;
}
.display-1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3.6rem;
  line-height: 1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.5rem;
}
.display-4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.625rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 3.125rem;
}
.display-7 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
}
.display-7 > .mbr-iconfont {
  font-size: 2.25rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.88rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 20rem) / (48 - 20))));
  }
}
@media (min-width: 992px) and (max-width: 1400px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-2 {
    font-size: 2.88rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.3 * (1.91rem + (3.6 - 1.91) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-4 {
    font-size: 1.04rem;
    font-size: calc( 1.105rem + (1.3 - 1.105) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.105rem + (1.3 - 1.105) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 62rem) / (87 - 62))));
  }
  .display-7 {
    font-size: 1.44rem;
    font-size: calc( 1.28rem + (1.8 - 1.28) * ((100vw - 62rem) / (87 - 62)));
    line-height: calc( 1.4 * (1.28rem + (1.8 - 1.28) * ((100vw - 62rem) / (87 - 62))));
  }
}
/* Buttons */
.btn {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1.25rem 2rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #f9a600 !important;
}
.bg-success {
  background-color: #20ac6b !important;
}
.bg-info {
  background-color: #0aa3c2 !important;
}
.bg-warning {
  background-color: #cc9900 !important;
}
.bg-danger {
  background-color: #bb0101 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #f9a600 !important;
  border-color: #f9a600 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: inherit;
  background-color: #ffb92d !important;
  border-color: #ffb92d !important;
  box-shadow: none;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #ffb92d !important;
  border-color: #ffb92d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #c23c69 !important;
  border-color: #c23c69 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: inherit;
  background-color: #cf6287 !important;
  border-color: #cf6287 !important;
  box-shadow: none;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #cf6287 !important;
  border-color: #cf6287 !important;
}
.btn-info,
.btn-info:active {
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: inherit;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
  box-shadow: none;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #0dccf3 !important;
  border-color: #0dccf3 !important;
}
.btn-success,
.btn-success:active {
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: inherit;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
  box-shadow: none;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #28d786 !important;
  border-color: #28d786 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: inherit;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
  box-shadow: none;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #ffbf00 !important;
  border-color: #ffbf00 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #bb0101 !important;
  border-color: #bb0101 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: inherit;
  background-color: #ee0101 !important;
  border-color: #ee0101 !important;
  box-shadow: none;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ee0101 !important;
  border-color: #ee0101 !important;
}
.btn-white,
.btn-white:active {
  background-color: #eff0ec !important;
  border-color: #eff0ec !important;
  color: #757b62 !important;
  box-shadow: none;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: inherit;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  box-shadow: none;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #757b62 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: none;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: inherit;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
  box-shadow: none;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #3d3d3d !important;
  border-color: #3d3d3d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #f9a600;
  color: #f9a600;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #a26c00 !important;
  background-color: transparent !important;
  border-color: #a26c00 !important;
  box-shadow: none !important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f9a600 !important;
  border-color: #f9a600 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #c23c69;
  color: #c23c69;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #802845 !important;
  background-color: transparent !important;
  border-color: #802845 !important;
  box-shadow: none !important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #c23c69 !important;
  border-color: #c23c69 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #0aa3c2;
  color: #0aa3c2;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #065e70 !important;
  background-color: transparent !important;
  border-color: #065e70 !important;
  box-shadow: none !important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #0aa3c2 !important;
  border-color: #0aa3c2 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #20ac6b;
  color: #20ac6b;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #12633e !important;
  background-color: transparent !important;
  border-color: #12633e !important;
  box-shadow: none !important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #20ac6b !important;
  border-color: #20ac6b !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #cc9900;
  color: #cc9900;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #755800 !important;
  background-color: transparent !important;
  border-color: #755800 !important;
  box-shadow: none !important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #cc9900 !important;
  border-color: #cc9900 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #bb0101;
  color: #bb0101;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #650101 !important;
  background-color: transparent !important;
  border-color: #650101 !important;
  box-shadow: none !important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #bb0101 !important;
  border-color: #bb0101 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent !important;
  border-color: #000000 !important;
  box-shadow: none !important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent !important;
  border-color: #cfcfcf !important;
  box-shadow: none !important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #f9a600 !important;
}
.text-secondary {
  color: #c23c69 !important;
}
.text-success {
  color: #20ac6b !important;
}
.text-info {
  color: #0aa3c2 !important;
}
.text-warning {
  color: #cc9900 !important;
}
.text-danger {
  color: #bb0101 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #936200 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #74243f !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #105636 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #055161 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #664d00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #560000 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #f9a600;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #0aa3c2;
}
.alert-warning {
  background-color: #cc9900;
}
.alert-danger {
  background-color: #bb0101;
}
.mbr-section-btn .btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #f9a600;
  border-color: #f9a600;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #f9a600;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffecc6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #68e3aa;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #55dbf6;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffe599;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #fe3e3e;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 400;
  border-radius: 40px !important;
}
.form-control > .mbr-iconfont {
  font-size: 2.25rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #f9a600 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  line-height: 1.3;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 2.25rem;
}
blockquote {
  border-color: #f9a600;
}
/* Forms */
.mbr-form .input-group-btn .btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn .btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #f9a600;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #f9a600;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #232323;
  border-bottom-color: #232323;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #f9a600;
  border-bottom-color: #f9a600;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #f9a600 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #c23c69 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23f9a600' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 1400px) {
  .container {
    max-width: 100%;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 1400px) and (min-width: 768px) {
  .container-fluid {
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media (max-width: 767px) {
  .container-fluid {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.cid-u8hkns0vKM {
  padding-top: 4rem;
  padding-bottom: 4rem;
  background-color: #000000;
}
.cid-u8hkns0vKM b,
.cid-u8hkns0vKM strong {
  color: #f9a600 !important;
}
.cid-u8hkns0vKM a.ax-cta {
  color: #000000 !important;
}
.cid-u8hkns0vKM .mbr-fallback-image.disabled {
  display: none;
}
.cid-u8hkns0vKM .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u8hkns0vKM .card-wrapper {
  background: #232323;
  padding: 2.5rem;
}
@media (max-width: 992px) {
  .cid-u8hkns0vKM .card-wrapper {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u8hkns0vKM .card-wrapper {
    padding: 1.5rem;
  }
}
.cid-u8hkns0vKM .row {
  justify-content: space-between;
}
.cid-u8hkns0vKM .mbr-section-title {
  color: #f9a600;
  text-align: center;
}
.cid-u8hkns0vKM .mbr-text,
.cid-u8hkns0vKM .mbr-section-btn {
  color: #ffffff;
  text-align: center;
}
.cid-u8hkns0vKM .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-u8hkns0vKM .mbr-cardtext,
.cid-u8hkns0vKM .mbr-section-btn {
  color: #ffffff;
}
.cid-u8hkns0vKM .mbr-section-cardtitle {
  text-align: center;
  color: #ffffff;
}
.cid-u8huzxbLYV {
  padding-top: 4rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-1920x1280.webp");
}
.cid-u8huzxbLYV .ax-countdown {
  color: black !important;
}
.cid-u8huzxbLYV .mbr-fallback-image.disabled {
  display: none;
}
.cid-u8huzxbLYV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u8huzxbLYV .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #edefeb;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 3.5rem;
  width: 3.5rem;
}
.cid-u8huzxbLYV .number-wrap {
  color: #000000;
  text-align: center;
}
.cid-u8huzxbLYV .number {
  color: #232323 !important;
}
.cid-u8huzxbLYV .period {
  display: block;
}
.cid-u8huzxbLYV .dot {
  display: none;
}
@media (max-width: 767px) {
  .cid-u8huzxbLYV .period {
    font-size: 0.8rem;
  }
}
.cid-u8huzxbLYV .btn {
  height: 100%;
  margin: 0;
}
.cid-u8huzxbLYV .mbr-section-btn {
  margin-bottom: 1.2rem;
}
.cid-u8huzxbLYV .icons-menu .soc-item {
  padding-left: 8px;
  padding-right: 8px;
}
.cid-u8huzxbLYV .icons-menu .soc-item a:hover .mbr-iconfont,
.cid-u8huzxbLYV .icons-menu .soc-item a:focus .mbr-iconfont {
  background-color: #9fe870;
}
.cid-u8huzxbLYV .icons-menu .soc-item a .mbr-iconfont {
  display: flex;
  border-radius: 50%;
  text-align: center;
  color: #163300;
  background-color: #ffffff;
  justify-content: center;
  align-content: center;
  transition: all 0.3s;
}
.cid-u8huzxbLYV .icons-menu .soc-item a .mbr-iconfont:before {
  padding: 1.1rem;
}
@media (max-width: 767px) {
  .cid-u8huzxbLYV .icons-menu .soc-item a .mbr-iconfont:before {
    padding: 1.2rem;
  }
}
.cid-u8huzxbLYV H3 {
  color: #232323;
}
.cid-u8hgR9gfoP {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-u8hgR9gfoP .mbr-text {
  color: #ffffff;
}
.cid-u8hgR9gfoP .mbr-section-subtitle {
  color: #f9a600;
  text-align: center;
}
.cid-u8hgR9gfoP .mbr-section-title {
  color: #f9a600;
  text-align: center;
}
.cid-u8hgR9gfoP b,
.cid-u8hgR9gfoP strong {
  color: #f9a600 !important;
}
.cid-u8hgR9gfoP i {
  text-decoration: underline;
}
.cid-u8hgR9gfoP p {
  line-height: 1.6;
}
.cid-u8hpXjyzOu {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #000000;
}
.cid-u8hpXjyzOu .mbr-text {
  color: #ffffff;
}
.cid-u8hpXjyzOu .mbr-section-subtitle {
  color: #ffeb69;
  text-align: center;
}
.cid-u8hpXjyzOu .mbr-section-title {
  color: #ffffff;
  text-align: center;
}
.cid-u8hpXjyzOu b,
.cid-u8hpXjyzOu strong {
  color: #f9a600 !important;
}
.cid-u8hpXjyzOu i {
  text-decoration: underline;
}
.cid-u8hpXjyzOu p {
  line-height: 1.6;
}
.cid-u8hroXQvhh {
  padding-top: 2rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-u8hroXQvhh b,
.cid-u8hroXQvhh strong {
  color: #f9a600 !important;
}
.cid-u8hroXQvhh .mbr-fallback-image.disabled {
  display: none;
}
.cid-u8hroXQvhh .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u8hroXQvhh .mbr-text {
  color: #ffffff;
  text-align: right;
}
.cid-u8hroXQvhh .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-u8hroXQvhh .item-wrapper {
  background: #232323;
  padding: 2.25rem 2.25rem 1rem 2.25rem;
}
@media (max-width: 767px) {
  .cid-u8hroXQvhh .item-wrapper {
    padding: 2rem 1.5rem 0.5rem 1.5rem;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .cid-u8hroXQvhh .item-wrapper {
    padding: 2rem 1.5rem 0.5rem 1.5rem;
  }
}
.cid-u8hroXQvhh .main-button {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u8hroXQvhh .main-button {
    margin-bottom: 2rem;
  }
}
.cid-u8hroXQvhh .counter-container ul {
  margin: 0;
  padding-left: 2.25rem;
  list-style: none;
}
.cid-u8hroXQvhh .counter-container ul li {
  position: relative;
  list-style: none;
  margin-bottom: 2rem;
}
.cid-u8hroXQvhh .counter-container ul li:before {
  position: absolute;
  left: -1.5em;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9a600;
  background-color: #f9a600;
  width: 0.5em;
  height: 0.5em;
  top: 0.4em;
  border-radius: 50%;
}
.cid-u8hroXQvhh .mbr-text UL {
  text-align: left;
}
.cid-u8hroXQvhh .mbr-section-subtitle,
.cid-u8hroXQvhh .main-button {
  color: #ffffff;
}
.cid-u8hroXQvhh .mbr-section-title {
  color: #f9a600;
}
.cid-u8hyYhtAz9 {
  padding-top: 6rem;
  padding-bottom: 1rem;
  background-image: url("../../../assets/images/mbr-1-1920x1280.webp");
}
.cid-u8hyYhtAz9 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u8hyYhtAz9 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (min-width: 768px) {
  .cid-u8hyYhtAz9 .container-fluid {
    padding: 0;
  }
}
.cid-u8hyYhtAz9 .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 490px;
  max-width: 490px;
}
@media (max-width: 768px) {
  .cid-u8hyYhtAz9 .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-u8hyYhtAz9 .embla__button--next,
.cid-u8hyYhtAz9 .embla__button--prev {
  display: flex;
}
.cid-u8hyYhtAz9 .mobi-mbri-arrow-next {
  margin-left: 5px;
}
.cid-u8hyYhtAz9 .mobi-mbri-arrow-prev {
  margin-right: 5px;
}
.cid-u8hyYhtAz9 .embla__button {
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-u8hyYhtAz9 .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-u8hyYhtAz9 .embla__button.embla__button--prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-u8hyYhtAz9 .embla__button.embla__button--next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-u8hyYhtAz9 .embla__button {
    top: auto;
    bottom: 1rem;
  }
}
.cid-u8hyYhtAz9 .embla {
  position: relative;
  width: 100%;
}
.cid-u8hyYhtAz9 .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-u8hyYhtAz9 .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-u8hyYhtAz9 .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-u8hyYhtAz9 .embla__slide a {
  cursor: grab;
}
.cid-u8hyYhtAz9 .embla__slide a:active {
  cursor: grabbing;
}
.cid-u8hyYhtAz9 .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-u8hyYhtAz9 .item-menu-overlay {
  border-radius: 2rem;
}
.cid-u8hyYhtAz9 .mbr-section-title {
  color: #232323;
}
.cid-u8hyYhtAz9 .mbr-section-subtitle {
  color: #232323;
}
.cid-u8hyYhtAz9 .mbr-box {
  color: #ffffff;
}
.cid-u8hyYhtAz9 .slide-content {
  position: relative;
  border-radius: 4px;
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-flow: column nowrap;
}
.cid-u8hyYhtAz9 img,
.cid-u8hyYhtAz9 .item-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.cid-u8hyYhtAz9 .item-wrapper {
  position: relative;
}
.cid-u8hyYhtAz9 .content-head {
  max-width: 800px;
}
.cid-u8hHu3uNa4 {
  padding-top: 0rem;
  padding-bottom: 2rem;
  background-image: url("../../../assets/images/mbr-1-1920x1280.webp");
}
.cid-u8hHu3uNa4 .justify-content-center {
  align-items: center;
}
.cid-u8hHu3uNa4 a.ax-text {
  color: black !important;
}
.cid-u8hHu3uNa4 .mbr-fallback-image.disabled {
  display: none;
}
.cid-u8hHu3uNa4 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u8hHu3uNa4 .item-wrapper {
  display: flex;
  margin-left: auto;
}
@media (max-width: 767px) {
  .cid-u8hHu3uNa4 .item-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-u8hHu3uNa4 .mbr-section-btn {
  padding-left: 1.5rem;
  text-align: right;
}
@media (max-width: 767px) {
  .cid-u8hHu3uNa4 .mbr-section-btn {
    text-align: center;
    padding-left: 0rem;
  }
}
.cid-u8hHu3uNa4 .row {
  align-items: center;
}
.cid-u8hHu3uNa4 .card-text {
  color: #ffffff;
  margin-bottom: 0px;
  text-align: left;
}
@media (max-width: 767px) {
  .cid-u8hHu3uNa4 .card-text {
    text-align: center;
  }
}
.cid-u8hBPVBkqO.popup-builder {
  background-color: #ffffff;
}
.cid-u8hBPVBkqO.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-u8hBPVBkqO.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-u8hBPVBkqO .modal-content {
  border: 10px white solid !important;
  background: #000000;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-u8hBPVBkqO .modal-content,
.cid-u8hBPVBkqO .modal-dialog {
  height: auto;
}
.cid-u8hBPVBkqO .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-u8hBPVBkqO .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-u8hBPVBkqO .form-wrapper .mbr-form .form-group,
  .cid-u8hBPVBkqO .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-u8hBPVBkqO .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-u8hBPVBkqO .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-u8hBPVBkqO .mbr-text {
  text-align: center;
}
.cid-u8hBPVBkqO .pt-0 {
  padding-top: 0 !important;
}
.cid-u8hBPVBkqO .pb-0 {
  padding-bottom: 0 !important;
}
.cid-u8hBPVBkqO .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-u8hBPVBkqO .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-u8hBPVBkqO .modal-open {
  overflow: hidden;
}
.cid-u8hBPVBkqO .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-u8hBPVBkqO .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-u8hBPVBkqO .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-u8hBPVBkqO .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-u8hBPVBkqO .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-u8hBPVBkqO .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-u8hBPVBkqO .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-u8hBPVBkqO .margin-center-pos {
  margin-top: auto;
  margin-bottom: auto;
}
.cid-u8hBPVBkqO .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-u8hBPVBkqO .modal-backdrop.fade {
  opacity: 0;
}
.cid-u8hBPVBkqO .modal-backdrop.show {
  opacity: .5;
}
.cid-u8hBPVBkqO .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: none;
}
@media (min-width: 992px) {
  .cid-u8hBPVBkqO .modal-header {
    padding: 2rem 2rem 1rem;
  }
}
@media (max-width: 991px) {
  .cid-u8hBPVBkqO .modal-header {
    padding: 1rem;
  }
}
.cid-u8hBPVBkqO .modal-header .close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-u8hBPVBkqO .modal-header .close svg {
  fill: #ffffff;
}
.cid-u8hBPVBkqO .modal-header .close:hover {
  opacity: 1;
}
.cid-u8hBPVBkqO .modal-header .close:focus {
  outline: none;
}
.cid-u8hBPVBkqO .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
  color: #ffffff;
}
.cid-u8hBPVBkqO .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
@media (min-width: 992px) {
  .cid-u8hBPVBkqO .modal-body {
    padding: 1rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-u8hBPVBkqO .modal-body {
    padding: 1rem;
  }
}
.cid-u8hBPVBkqO .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: none;
  text-align: center;
}
@media (min-width: 992px) {
  .cid-u8hBPVBkqO .modal-footer {
    padding: 0rem 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-u8hBPVBkqO .modal-footer {
    padding: 1rem;
  }
}
.cid-u8hBPVBkqO .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-u8hBPVBkqO .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-u8hBPVBkqO .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-u8hBPVBkqO .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-u8hBPVBkqO .modal-sm {
    max-width: 300px;
  }
}
@media (min-width: 992px) {
  .cid-u8hBPVBkqO .modal-lg,
  .cid-u8hBPVBkqO .modal-xl {
    max-width: 800px;
  }
}
@media (min-width: 1200px) {
  .cid-u8hBPVBkqO .modal-xl {
    max-width: 1140px;
  }
}
.cid-u8hBPVBkqO .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-u8hBPVBkqO .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-u8hBPVBkqO .form-group {
  margin-bottom: 1rem;
}
.cid-u8hBPVBkqO .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-u8hBPVBkqO .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-u8hBPVBkqO .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-u8hBPVBkqO .mbr-section-btn {
  margin: 0;
}
.cid-u8hBPVBkqO .mbr-section-btn .btn {
  margin: 0;
}
.cid-u8hInS65vD {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}
.cid-u8hInS65vD .mbr-fallback-image.disabled {
  display: none;
}
.cid-u8hInS65vD .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u8hInS65vD .card-wrapper {
  background: #ecf0f1;
}
@media (max-width: 767px) {
  .cid-u8hInS65vD .card-wrapper {
    padding: 2rem 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-u8hInS65vD .card-wrapper {
    padding: 1rem 2.25rem;
  }
}
@media (min-width: 992px) {
  .cid-u8hInS65vD .card-wrapper {
    padding: 0rem 4rem;
  }
}
.cid-u8hInS65vD .mbr-text,
.cid-u8hInS65vD .mbr-section-btn {
  color: #000000;
  text-align: left;
}
.cid-u8hInS65vD .card-title,
.cid-u8hInS65vD .card-box {
  text-align: center;
  color: #000000;
}
.cid-u8hInS65vD .counter-container ul {
  margin: 0;
  padding-left: 2.25rem;
  list-style: none;
}
.cid-u8hInS65vD .counter-container ul li {
  position: relative;
  list-style: none;
  margin-bottom: 2rem;
}
.cid-u8hInS65vD .counter-container ul li:before {
  position: absolute;
  left: -1.5em;
  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9a600;
  background-color: #f9a600;
  width: 0.5em;
  height: 0.5em;
  top: 0.4em;
  border-radius: 50%;
}
.cid-u8hInS65vD .counter-container ol {
  margin-bottom: 0;
  padding-left: 2.25rem;
  counter-reset: myCounter;
}
.cid-u8hInS65vD .counter-container ol li {
  margin-bottom: 2rem;
  list-style: none;
  position: relative;
}
.cid-u8hInS65vD .counter-container ol li:before {
  font-weight: 700;
  position: absolute;
  left: -1.5em;
  counter-increment: myCounter;
  content: counter(myCounter);
  transition: all .2s;
  color: #f9a600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-u8hInS65vD .mbr-text UL {
  text-align: left;
}
.cid-u8hInS65vD .mbr-text {
  color: #232323;
}
.cid-u8hWEg6ngV {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #ffffff;
}
.cid-u8hWEg6ngV .mbr-fallback-image.disabled {
  display: none;
}
.cid-u8hWEg6ngV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u8hWEg6ngV a.ax-text {
  color: black !important;
}
.cid-u8hKTipw8O {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-u8hKTipw8O input {
  padding: 1.5rem 1.5rem;
  border: none !important;
  height: 100%;
}
.cid-u8hKTipw8O input:hover {
  border: none !important;
}
.cid-u8hKTipw8O .btn {
  height: 100%;
  margin: auto;
}
@media (min-width: 768px) {
  .cid-u8hKTipw8O .btn {
    margin-left: 0.625rem;
  }
}
@media (min-width: 992px) {
  .cid-u8hKTipw8O .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 767px) {
  .cid-u8hKTipw8O .row {
    justify-content: center;
  }
}
.cid-u8hKTipw8O .mbr-section-btn {
  display: flex;
  width: fit-content;
}
@media (max-width: 767px) {
  .cid-u8hKTipw8O .mbr-section-btn {
    margin-top: 1rem;
  }
}
.cid-u8hKTipw8O .mbr-section-btn .btn {
  width: auto;
}
@media (max-width: 991px) {
  .cid-u8hKTipw8O .image-wrapper {
    margin-bottom: 2rem;
  }
  .cid-u8hKTipw8O .content-wrapper {
    flex-direction: column-reverse;
  }
}
.cid-u8hKTipw8O .justify-content-center {
  align-items: center;
}
.cid-u8hKTipw8O .mbr-section-title {
  color: #260a30;
}
.cid-u8hKTipw8O .mbr-text {
  color: #edefeb;
}
.cid-u8hNOPDUQW {
  padding-top: 6rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-u8hNOPDUQW .item-subtitle {
  line-height: 1.2;
  color: #232323;
  text-align: center;
}
.cid-u8hNOPDUQW img,
.cid-u8hNOPDUQW .item-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 300px;
  object-fit: contain;
}
.cid-u8hNOPDUQW .item:focus,
.cid-u8hNOPDUQW span:focus {
  outline: none;
}
.cid-u8hNOPDUQW .item {
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .cid-u8hNOPDUQW .item {
    margin-bottom: 1rem;
  }
}
.cid-u8hNOPDUQW .item-wrapper {
  position: relative;
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
.cid-u8hNOPDUQW .mbr-section-title {
  color: #232323;
}
.cid-u8hNOPDUQW .mbr-text,
.cid-u8hNOPDUQW .mbr-section-btn {
  color: #232323;
  text-align: center;
  display: none !important;
}
.cid-u8hNOPDUQW .item-title {
  color: #232323;
  text-align: center;
}
.cid-u8hNOPDUQW .content-head {
  max-width: 800px;
}
.cid-u8k6zHUkZ2 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
.cid-u8k6zHUkZ2 .item:focus,
.cid-u8k6zHUkZ2 span:focus {
  outline: none;
}
.cid-u8k6zHUkZ2 .item {
  cursor: pointer;
}
.cid-u8k6zHUkZ2 .grid-container {
  grid-row-gap: 2rem;
}
@media (max-width: 767px) {
  .cid-u8k6zHUkZ2 .grid-container {
    grid-row-gap: 1rem;
  }
}
.cid-u8k6zHUkZ2 .grid-container-1,
.cid-u8k6zHUkZ2 .grid-container-2,
.cid-u8k6zHUkZ2 .grid-container-3 {
  gap: 0 2rem;
}
@media (max-width: 767px) {
  .cid-u8k6zHUkZ2 .grid-container-1,
  .cid-u8k6zHUkZ2 .grid-container-2,
  .cid-u8k6zHUkZ2 .grid-container-3 {
    gap: 0 1rem;
  }
}
.cid-u8k6zHUkZ2 .mbr-section-title {
  color: #000000;
}
.cid-u8k6zHUkZ2 .mbr-text,
.cid-u8k6zHUkZ2 .mbr-section-btn {
  color: #000000;
}
.cid-u8k6zHUkZ2 .content-head {
  max-width: 900px;
}
.cid-u8k6zHUkZ2 .container,
.cid-u8k6zHUkZ2 .container-fluid {
  overflow: hidden;
}
.cid-u8k6zHUkZ2 .grid-container {
  display: grid;
  transform: translate3d(-3rem, 0, 0);
  width: 115vw;
  grid-column-gap: 1rem;
}
.cid-u8k6zHUkZ2 .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-u8k6zHUkZ2 .grid-item img {
  min-width: 22vw;
  max-width: 50%;
  max-height: 50%;
  object-fit: contain;
  border-radius: 0 !important;
}
@media (max-width: 767px) {
  .cid-u8k6zHUkZ2 .grid-item img {
    min-width: 35vw;
  }
}
.cid-u8k6zHUkZ2 .grid-container-1,
.cid-u8k6zHUkZ2 .grid-container-2,
.cid-u8k6zHUkZ2 .grid-container-3 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.cid-u8k6zHUkZ2 .grid-container-1 {
  align-items: flex-end;
}
.cid-u8k6zHUkZ2 .grid-container-2 {
  align-items: flex-start;
}
.cid-u8hXT4ATzR {
  padding-top: 0rem;
  padding-bottom: 1rem;
  background-color: #000000;
}
.cid-u8hXT4ATzR .mbr-fallback-image.disabled {
  display: none;
}
.cid-u8hXT4ATzR .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u8hXT4ATzR a.ax-text {
  color: black !important;
}
.cid-u8hXT4ATzR .mbr-section-subtitle {
  color: #ffffff;
}
.cid-u8hgR9iRef {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-u8hgR9iRef .mbr-fallback-image.disabled {
  display: none;
}
.cid-u8hgR9iRef .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-u8hgR9iRef .copyright {
  color: #ffffff;
  text-align: left;
}
.cid-u8hgR9iRef .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-u8hgR9iRef .row {
    flex-direction: column-reverse !important;
  }
  .cid-u8hgR9iRef .row .copyright {
    margin: 1rem 0 0 0;
  }
}
.cid-u8hgR9iRef .row-links {
  width: 100%;
  justify-content: center;
}
.cid-u8hgR9iRef .row-links .row-links-soc {
  list-style: none;
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .cid-u8hgR9iRef .row-links .row-links-soc {
    justify-content: center;
  }
}
.cid-u8hgR9iRef .row-links .row-links-soc li {
  padding: 0 1rem 0rem 1rem;
}
@media (max-width: 767px) {
  .cid-u8hgR9iRef .row-links .row-links-soc li {
    padding: 0 1rem 1rem 1rem;
  }
}
.cid-u8hgR9iRef .row-links .row-links-soc li p {
  margin: 0;
}
@media (max-width: 991px) {
  .cid-u8hgR9iRef .copyright {
    text-align: center;
  }
}
.cid-u8hgR9iRef .row-links-soc {
  color: #474747 !important;
}
